@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Open+Sans&display=swap");
* {
  border: box;
}

body {
  background-color: black;
  color: #fff;
  margin: 0;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
}

header h1 {
  padding-left: 2%;
}

header nav {
  padding-left: 325px;
}

header nav :hover {
  color: #e7e7e7;
}

header nav a {
  text-decoration: none;
  color: #ea6c36;
  font-family: "Lato", sans-serif;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 30px;
}

header nav a:first-child {
  padding-left: 16px;
}

header nav a:last-child {
  padding-right: 0;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

p {
  font-family: "Open Sans", sans-serif;
}

.bluetext {
  color: #6eb2cc;
}

.darkbluetext {
  color: #2f6a87;
}

.orangetext {
  color: #ea6c36;
}

.blacktext {
  color: #000000;
}

.whitetext {
  color: #fff;
}

main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .bannerImage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  width: 350px;
  top: 10%;
  left: 10%;
}

main .bannerEmail {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  width: 350px;
  top: 50%;
  left: 10%;
}

main .bannerTelephone {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  width: 350px;
  top: 60%;
  left: 10%;
}

main .bannerButton {
  position: absolute;
  top: 70%;
  left: 5%;
  background-color: #ea6c36;
  color: #000000;
  border: none;
  text-align: center;
  padding: 15px 60px;
  margin-left: 5%;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700;
}

.bannerAboutUs {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  width: 350px;
  top: 40%;
  left: 10%;
}

.bannerAboutSubtext {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  width: 350px;
  top: 50%;
  left: 10%;
}

.bannerSub {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 18em;
  margin-bottom: 40px;
}

.bannerSub .bannerSubtext {
  display: inline-block;
  text-align: left;
  font-weight: 700;
  margin-left: -10px;
  margin-top: 20px;
}

.bannerDropcap {
  color: #ea6c36;
  font-size: 76px;
  line-height: 60px;
  float: left;
}

.bannerPosttext {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
}

.dropcap:first-letter {
  color: #ea6c36;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  float: left;
  font-size: 6rem;
  line-height: 0.55;
  margin-top: 18px;
  margin-right: 6px;
}

.homeSection1 {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.homeSection1 .homeImage1 {
  height: 60vh;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to left, transparent 10%, black);
          mask-image: -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), to(black));
          mask-image: linear-gradient(to left, transparent 10%, black);
}

.homeSection1 p {
  line-height: 50px;
  width: 50vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  left: 40%;
}

.homeSection1 .homeSectionButton1 {
  font-family: "Open Sans", sans-serif;
  background: #6EB2CC;
  border-radius: 30px;
  border: none;
  text-align: center;
  padding: 15px 60px;
  font-size: 18px;
  position: absolute;
  margin-top: 20%;
  margin-left: 68%;
}

.homeSection1 a {
  text-decoration: none;
}

.homeSection1 a:visited {
  color: #000000;
}

.homeSection2 {
  margin-top: 10vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

.homeSection2 .homeImage2 {
  margin-right: 0;
  height: 60vh;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), to(black));
  -webkit-mask-image: linear-gradient(to left, transparent 5%, black);
          mask-image: -webkit-gradient(linear, right top, left top, color-stop(5%, transparent), to(black));
          mask-image: linear-gradient(to left, transparent 5%, black);
}

.homeSection2 p {
  line-height: 50px;
  width: 50vw;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  left: 40%;
}

.homeSection2 .homeSectionButton2 {
  font-family: "Open Sans", sans-serif;
  background: #6EB2CC;
  border-radius: 30px;
  border: none;
  text-align: center;
  padding: 15px 60px;
  font-size: 18px;
  position: absolute;
  margin-top: 20%;
  margin-left: 70%;
}

.homeSection2 a {
  text-decoration: none;
}

.homeSection2 a:visited {
  color: #000000;
}

.class-title {
  padding-top: 50px;
  text-align: center;
}

.class-container {
  padding-top: 20px;
  width: 40%;
  margin: auto;
  overflow: scroll;
  -webkit-transition: all;
  transition: all;
}

.class-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
}

.class-slide p {
  position: absolute;
}

.newsletter {
  display: -ms-grid;
  display: grid;
  padding-top: 50px;
}

.newsletter .newsletterImage {
  height: 70vh;
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
  -webkit-mask-image: linear-gradient(to right, transparent 10%, #000000);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
          mask-image: linear-gradient(to right, transparent 10%, #000000);
}

.newsletter span {
  color: #6eb2cc;
}

.newsletter p {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  margin-top: 10%;
}

.newsletter form {
  font-size: 36px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  margin-top: 20%;
}

.newsletter form input {
  font-size: 18px;
}

.newsletter button {
  background: #6EB2CC;
  border-radius: 30px;
  border: none;
  text-align: center;
  padding: 15px 60px;
  font-size: 18px;
  position: absolute;
  margin-top: 25%;
}

footer {
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-grid-columns: 2fr 2fr 1fr 1fr;
      grid-template-columns: 2fr 2fr 1fr 1fr;
  background-color: #2f6a87;
  color: #e7e7e7;
  margin-left: -5.5%;
  margin-right: -5.5%;
  padding-left: 5%;
  padding-right: 5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

footer .foot1 {
  padding-left: 20px;
}

footer .footerTitle {
  font-size: x-large;
}

footer .footerFirstSection a {
  display: inline-block;
  margin-left: 10px;
}

footer a {
  display: block;
  text-decoration: none;
  color: #e7e7e7;
}

footer a img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

footer a .footerLogo {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.testImage {
  width: 100%;
  height: 90vh;
  margin-bottom: 40px;
}

.testImage .testBannerText {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  width: 350px;
  top: 25%;
  left: 10%;
}

.testimonial1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 40px;
}

.testimonial1 .test1image {
  float: right;
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
  -webkit-mask-image: linear-gradient(90deg, transparent 10%, #000000);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
          mask-image: linear-gradient(90deg, transparent 10%, #000000);
}

.testimonial1 .test1text {
  position: absolute;
  width: auto;
  font-size: 45px;
  width: 60%;
}

.testimonial1 .test1subtext {
  position: absolute;
  font-size: 1.5em;
  width: 60%;
  padding-top: 20%;
}

.aboutBannerImage {
  width: 100%;
  height: 90vh;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
  -webkit-mask-image: linear-gradient(90deg, transparent 10%, #000000);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
          mask-image: linear-gradient(90deg, transparent 10%, #000000);
}

.about1 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.about1 .aboutImage1 {
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
  -webkit-mask-image: linear-gradient(90deg, transparent 10%, #000000);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
          mask-image: linear-gradient(90deg, transparent 10%, #000000);
}

.about1 .aboutImage1text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 45px;
  width: 70%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: right;
}

.about2 .aboutImage2 {
  width: 100%;
  -webkit-mask-image: -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), to(#000000));
  -webkit-mask-image: linear-gradient(270deg, transparent 10%, #000000);
          mask-image: -webkit-gradient(linear, right top, left top, color-stop(10%, transparent), to(#000000));
          mask-image: linear-gradient(270deg, transparent 10%, #000000);
}

.about2 .aboutImage2text1 {
  text-align: right;
  position: absolute;
  left: 60%;
  font-size: 40px;
  width: 40%;
}

.about2 .aboutImage2text2 {
  margin-top: 50px;
  text-align: right;
  position: absolute;
  left: 40%;
  font-size: 20px;
  width: 60%;
  line-height: 3;
}

.blogimage1 {
  width: 100%;
  height: 100vh;
}

.blogleft {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-columns: 2;
          columns: 2;
}

.blogleft img {
  width: 100%;
}

.blogleft h2 {
  padding: 0;
  margin: 0;
  padding-left: 5%;
}

.blogleft p {
  position: absolute;
  width: 45%;
  padding-left: 47.5%;
  padding-top: 5%;
}

.blogleft a {
  color: #ea6c36;
  padding-left: 10px;
}

.blogright {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-columns: 2;
          columns: 2;
}

.blogright img {
  width: 100%;
}

.blogright h2 {
  padding: 0;
  margin: 0;
}

.blogright p {
  text-align: left;
}

.blogright a {
  color: #ea6c36;
  padding-left: 10px;
}

.contactbannerimage {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
  -webkit-mask-image: linear-gradient(90deg, transparent 10%, #000000);
          mask-image: -webkit-gradient(linear, left top, right top, color-stop(10%, transparent), to(#000000));
          mask-image: linear-gradient(90deg, transparent 10%, #000000);
}

.contactbannerimage h1 {
  position: absolute;
}

.contactdetails {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "a b";
  margin-bottom: 40px;
  font-family: "Lato", sans-serif;
}

.contactdetails1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.contactdetails2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

/* Set the size of the div element that contains the map */
#map {
  height: 60vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.homepagereturn {
  text-decoration: none;
  color: #ea6c36;
}

.fade-in {
  animation: fadeIn ease 3s;
  -webkit-animation: fadeIn ease 3s;
  -moz-animation: fadeIn ease 3s;
  -o-animation: fadeIn ease 3s;
  -ms-animation: fadeIn ease 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */