// Business Colours
$darkteal: #2f6a87;
$lightteal:#6eb2cc;
$grey: #e7e7e7;
$orange: #ea6c36;

// Other Colors
$black: #000000;
$white: #fff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Open+Sans&display=swap');

$Lato: 'Lato',
sans-serif;
$OpenSans: 'Open Sans',
sans-serif;
$light: 300;
$heavy:700;

// Body Styles
body {
    background-color: black;
    color: #fff;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
}

// Header styling
header {
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 10;

    h1 {
        padding-left: 2%;
    }

    nav {
        padding-left: 325px;

        a {
            text-decoration: none;
            color: #ea6c36;
            font-family: $Lato;
            justify-content: space-between;
            padding-right: 30px;

            &:last-child {
                padding-right: 0;
            }
        }

    }
}

h1 {
    font-family: $Lato;
    font-weight: $light;
}

// Main styling encompassing banner, image, text and
// button placements
main {

    .bannerImage {
        width: 100%;
        height: 90vh;
    }

    h1 {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 25%;
        left: 10%;
    }

    .bannerEmail {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 50%;
        left: 10%;
    }

    .bannerTelephone {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 60%;
        left: 10%;
    }

    .bannerButton {
        position: absolute;
        top: 70%;
        left: 10%;
        background-color: #ea6c36;
        color: $black;
        border: none;
        text-align: center;
        padding: 15px 60px;
        margin-left: 5%;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
    }
}

.bannerSubtext {
    text-align: center;
    font-weight: 700;
    margin-left: -10px;
}

.bannerDropcap {
    color: #ea6c36;
    font-size: 76px;
    line-height: 60px;
    margin-right: -10px;
}

.bannerPosttext {
    font-family: $OpenSans;
    font-weight: $light;
    text-align: center;
}

.homeSection1 {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .homeImage1 {
        height: 60vh;
        mask-image: linear-gradient(to left, transparent 10%, black);
    }

    p {
        width: 50vw;
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        left: 40%;
    }

    .homeSectionButton1 {
        background: #6EB2CC;
        border-radius: 30px;
        border: none;
        text-align: center;
        padding: 15px 60px;
        font-size: 18px;
        position: absolute;
        margin-top: 20%;
        margin-left: 67.5%;
    }

    a {
        text-decoration: none;
    }
}

.homeSection2 {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .homeImage2 {
        margin-right: 0;
        height: 60vh;
        mask-image: linear-gradient(to left, transparent 5%, black);
    }

    p {
        width: 50vw;
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        left: 40%;
    }

    .homeSectionButton2 {
        background: #6EB2CC;
        border-radius: 30px;
        border: none;
        text-align: center;
        padding: 15px 60px;
        font-size: 18px;
        position: absolute;
        margin-top: 20%;
        margin-left: 67.5%;
    }

    a {
        text-decoration: none;
    }
}

.homeImage3 {
    height: 60vh;
    width: 100%;
}

footer {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: $darkteal;
    color: #e7e7e7;
    margin-top: 5%;
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: $OpenSans;
    font-weight: $light;

    .footerFirstSection {
        
        a {
            display: inline-block;
            margin-left: 10px;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: $grey;
    }
}