// Business Colours
$darkteal: #2f6a87;
$lightteal:#6eb2cc;
$grey: #e7e7e7;
$orange: #ea6c36;

// Other Colors used
$black: #000000;
$white: #fff;

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&family=Open+Sans&display=swap');
$Lato: 'Lato',
sans-serif;
$OpenSans: 'Open Sans',
sans-serif;
$light: 300;
$heavy:700;

* {
    border: box;
}

// Body Styles
body {
    background-color: black;
    color: #fff;
    margin: 0;
    margin-left: 5%;
    margin-right: 5%;
}

// Header styling
header {
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 10;

    h1 {
        padding-left: 2%;
    }

    // Navigation styling within the header
    nav {
        padding-left: 325px;

        :hover {
            color: $grey;
        }

        a {
            text-decoration: none;
            color: #ea6c36;
            font-family: $Lato;
            justify-content: space-between;
            padding-right: 30px;

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: 0;
            }
        }

    }
}

// h1 styling throughout unless overwritten
h1 {
    font-family: $Lato;
    font-weight: $light;
}

// p styling throughout unless overwritten
p {
    font-family: $OpenSans;
}

// colour text stylings, used in spans to change text colours
// in h1 and p tags or just to amend texxt color for accessibility
// reasons
.bluetext {
    color: $lightteal;
}

.darkbluetext {
    color: $darkteal;
}

.orangetext {
    color: $orange;
}

.blacktext {
    color: $black;
}

.whitetext {
    color: $white;
}


// Main styling encompassing banners, images, text and
// buttons placement across banner sections on site
main {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    .bannerImage {
        width: 100%;
        height: 90vh;
        display: flex;
    }

    h1 {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 10%;
        left: 10%;
    }

    .bannerEmail {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 50%;
        left: 10%;
    }

    .bannerTelephone {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 60%;
        left: 10%;
    }

    .bannerButton {
        position: absolute;
        top: 70%;
        left: 5%;
        background-color: #ea6c36;
        color: $black;
        border: none;
        text-align: center;
        padding: 15px 60px;
        margin-left: 5%;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 700;
    }
}

// About us page banner stylings

.bannerAboutUs {
    font-family: $OpenSans;
    position: absolute;
    width: 350px;
    top: 40%;
    left: 10%;
}

.bannerAboutSubtext {
    font-family: $OpenSans;
    font-weight: $light;
    position: absolute;
    width: 350px;
    top: 50%;
    left: 10%;
}

// Styling for content on home page under banner
.bannerSub {

    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 18em;
    margin-bottom: 40px;

    .bannerSubtext {
        display: inline-block;
        text-align: left;
        font-weight: 700;
        margin-left: -10px;
        margin-top: 20px;
    }
}

// Dropcap styling for text under banner
.bannerDropcap {
    color: #ea6c36;
    font-size: 76px;
    line-height: 60px;
    float: left;
}

.bannerPosttext {
    font-family: $OpenSans;
    font-weight: $heavy;
    text-align: center;
}

.dropcap:first-letter {
    color: $orange;
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    float: left;
    font-size: 6rem;
    line-height: 0.55;
    margin-top: 18px;
    margin-right: 6px;
}

// Home page styling for first image, accompanying text and link buttons
.homeSection1 {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .homeImage1 {
        height: 60vh;
        mask-image: linear-gradient(to left, transparent 10%, black);
    }

    p {
        line-height: 50px;
        width: 50vw;
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        left: 40%;
    }

    .homeSectionButton1 {
        background: #6EB2CC;
        border-radius: 30px;
        border: none;
        text-align: center;
        padding: 15px 60px;
        font-size: 18px;
        position: absolute;
        margin-top: 20%;
        margin-left: 68%;
    }

    a {
        text-decoration: none;
    }
}

// Home page styling for second image, accompanying text and link buttons
.homeSection2 {
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 2fr;

    .homeImage2 {
        margin-right: 0;
        height: 60vh;
        mask-image: linear-gradient(to left, transparent 5%, black);
    }

    p {
        line-height: 50px;
        width: 50vw;
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        left: 40%;
    }

    .homeSectionButton2 {
        background: #6EB2CC;
        border-radius: 30px;
        border: none;
        text-align: center;
        padding: 15px 60px;
        font-size: 18px;
        position: absolute;
        margin-top: 20%;
        margin-left: 70%;
    }

    a {
        text-decoration: none;
    }
}

// Image carousel styling
.class-title {
    padding-top: 50px;
    text-align: center;
}

.class-container {
    padding-top: 20px;
    width: 40%;
    margin: auto;
    overflow: scroll;
    transition: all;
}

.class-slide {
    display: flex;
    height: 600px;

    p {
        position: absolute;
    }
}

// Newsletter signup section

.newsletter {
    display: grid;
    padding-top: 50px;

    .newsletterImage {
        height: 70vh;
        width: 100%;
        mask-image: linear-gradient(to right, transparent 10%, $black);

    }

    span {
        color: $lightteal;
    }

    p {
        font-size: 36px;
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        margin-top: 10%;
    }

    form {
        font-size: 36px;
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        margin-top: 20%;

        input {
            font-size: 18px;
        }


    }

    button {
        background: #6EB2CC;
        border-radius: 30px;
        border: none;
        text-align: center;
        padding: 15px 60px;
        font-size: 18px;
        position: absolute;

        margin-top: 25%;
    }
}


// Footer Styling section

footer {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
    grid-template-rows: auto;
    background-color: $darkteal;
    color: #e7e7e7;
    margin-left: -5.5%;
    margin-right: -5.5%;
    padding-left: 5%;
    padding-right: 5%;
    font-family: $OpenSans;
    font-weight: $light;

    .footerTitle {
        font-size: x-large;
    }

    .footerFirstSection {

        a {
            display: inline-block;
            margin-left: 10px;
        }
    }

    a {
        display: block;
        text-decoration: none;
        color: $grey;

        img {
            transform: scale(0.5);
        }

        .footerLogo {
            transform: scale(1);
        }
    }
}

// Testimonials page specific styling

// Testimonial page banner image and text styling
.testImage {
    width: 100%;
    height: 90vh;

    .testBannerText {
        font-family: $OpenSans;
        font-weight: $light;
        position: absolute;
        width: 350px;
        top: 25%;
        left: 10%;
    }
}

// Testimonial page styling to apply to each individual testimonial
.testimonial1 {
    display: flex;
    flex-wrap: wrap;

    .test1image {
        float: right;
        width: 100%;
        mask-image: linear-gradient(90deg, transparent 10%, $black);
    }

    .test1text {
        position: absolute;
        padding-top: 10%;
        width: auto;
        font-size: 45px;
        width: 70%;
    }

    .test1subtext {
        position: absolute;
        padding-top: 20%;
        font-size: 25px;
        width: 50%;
    }
}

// About page styling to apply to each banner

.aboutBannerImage {
    width: 100%;
    height: 90vh;
    mask-image: linear-gradient(90deg, transparent 10%, $black);
}


// About page styling to apply to each individual testimonial

.about1 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    .aboutImage1 {
        width: 100%;
        mask-image: linear-gradient(90deg, transparent 10%, $black);
    }

    .aboutImage1text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 45px;
        width: 70%;
        transform: translate(-50%, -50%);
    }
}

.about2 {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: right;

    .aboutImage2 {
        width: 100%;
        mask-image: linear-gradient(270deg, transparent 10%, $black);
    }

    .aboutImage2text {
        text-align: right;
        position: absolute;
        left: 60%;
        font-size: 25px;
        width: 40%;
        line-height: 30px;
    }
}

// Blog page specific styling
.blogimage1 {
    width: 100%;
    height: 100vh;
}

.blogleft {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    columns: 2;

    img {
        width: 100%;
    }

    p {
        padding-left: 10px;
        text-align: left;
    }

    a {
        color: #ea6c36;
        padding-left: 10px;
    }
}

.blogright {
    padding-top: 40px;
    padding-bottom: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    columns: 2;

    img {
        width: 100%;
    }

    p {
        padding-left: 10px;
        text-align: left;
    }

    a {
        color: #ea6c36;
        padding-left: 10px;
    }
}

// Contact page stylings

.contactbannerimage {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    mask-image: linear-gradient(90deg, transparent 10%, $black);

    h1 {
        position: absolute;
        
    }
}

